# PostgreSQL Configuration
POSTGRES_USER=favorita_user
POSTGRES_PASSWORD=favorita_pass
POSTGRES_DB=favorita_sales
POSTGRES_HOST=localhost
POSTGRES_PORT=5432

# pgAdmin Configuration
PGADMIN_EMAIL=admin@favorita.com
PGADMIN_PASSWORD=admin123
PGADMIN_PORT=5050